{% apply inky_to_html %}
    <container>
        <row class="header">
            <columns>
                <spacer size="12"></spacer>
                <h1 class="text-center">Nouveau mail : {{ text }}</h1>
            </columns>
        </row>
    </container>
{% endapply %}